[submodule "chat-service"]
	path = chat-service
	url = https://github.com/GARROWD/chat-service.git
[submodule "news-service"]
	path = news-service
	url = https://github.com/GARROWD/news-service.git
[submodule "admission-service"]
	path = admission-service
	url = https://github.com/GARROWD/admission-service.git
[submodule "schedule-attendance-service"]
	path = schedule-attendance-service
	url = https://github.com/GARROWD/schedule-attendance-service.git
[submodule "storage-service"]
	path = storage-service
	url = https://github.com/IS1DI/storage-service.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/IS1DI/user-service.git
[submodule "auth-server"]
	path = auth-server
	url = https://github.com/IS1DI/auth-server.git
[submodule "course-service"]
	path = course-service
	url = https://github.com/IS1DI/course-service.git
